:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
  background-color: var(--color-black);
}
ul {
  list-style: none;
}
body {
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  transition: transform 300ms ease;
}
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: none;
  margin-right: 10px;
  transition: transform 300ms ease;
}
.btn:hover {
  transform: scale(1.1);
}
.buttons img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.color {
  width: 50px;
  height: 40px;
  border-radius: 5px;
}
.buttons .blue {
  background-color: var(--color-blue);
}
.buttons .yellow {
  background-color: var(--color-yellow);
}
.buttons .pink {
  background-color: var(--color-pink);
}

.items {
  /* background-color: pink; */
  padding: 0;
  width: 60%;
  height: 60%;
  overflow-y: scroll;
}
.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  margin: 5px;
}
.item img {
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  padding: 5px;
}
.item span {
  background-color: var(--color-white);
}
